<div class="top-bar">
    <h1>Medicamentos</h1>
    <div class="user">
        <div class="user-menu">
            <span class="user-name">SALEM001</span>
            <button mat-raised-button routerLink="/login">LOG OUT</button>
        </div>
        <div class="user-image">
            <img src="/assets/user.png" alt="">
        </div>
    </div>
</div>
<div class="content">
    <div class="toolbar">
        <div class="go-back">
            <button mat-raised-button routerLink="/menu"> &lt; Volver </button>
        </div>
        <div class="search">
            <div class="input">
                <label>Search</label>
                <input placeholder="" value="">
                <img src="/assets/search.png" alt="">
            </div>
        </div>
    </div>
    <div class="table-container">
        <div class="table">
            <div class="table-header">
              <div class="table-column">Nombre</div>
              <div class="table-column">Tipo</div>
              <div class="table-column">Información Extra</div>
            </div>
            <div class="table-row">
              <div class="table-cell">Naproxeno</div>
              <div class="table-cell">Pastilla</div>
              <div class="table-cell">100 mg</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Acetaminophen</div>
                <div class="table-cell">Pastilla</div>
                <div class="table-cell">100 mg</div>
            </div>
            <div class="table-row">
                <div class="table-cell">Ibuprofeno</div>
                <div class="table-cell">Pastilla</div>
                <div class="table-cell">400 mg</div>
            </div>
            <div class="table-row">
              <div class="table-cell"></div>
              <div class="table-cell"></div>
              <div class="table-cell"></div>
            </div>
            <div class="table-row">
                <div class="table-cell"></div>
                <div class="table-cell"></div>
                <div class="table-cell"></div>
              </div>
        </div>
    </div>
    
</div>