/*
top bar
*/
.top-bar {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
}

.top-bar h1 {
    display: inline;
    width: 300px;
    height: 100%;
    line-height: 150px;
    margin: 200px;
    font-size: var(--text-titulo-1);
    color: var(--on-primary-color);
}

.top-bar .user  {
    display: flex;
    flex-direction: row;
    float: right;
    height: 100%;
    margin-right: 200px;
}

.top-bar .user .user-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.top-bar .user .user-menu .user-name {
    margin-bottom: 18px;
    font-size: var(--text-top);
    color: var(--on-primary-color);
}

.top-bar .user .user-menu button {
    width: 234px;
    height: 49px;
    color: var(--primary-color);
    background-color: var(--on-primary-color);
    border: 1px var(--primary-color) solid;
    border-radius: 10px;
    font-size: var(--button-text-size);
    font-weight: var(--button-font-weight);
    cursor: pointer;
}

.top-bar .user .user-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 18px;
}

.top-bar .user .user-image img {
    width: 107px;
    height: 107px;
    border-radius: 20px;
}

.top-bar {
    width: 100%;
    height: 150px;
    background-color: var(--primary-color);
}

/*
page content
*/

.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 164px;
}

.toolbar .go-back {
    width: 200px;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.toolbar .go-back button {
    width: 234px;
    height: 49px;
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    border: 1px var(--primary-color) solid;
    border-radius: 10px;
    font-size: var(--button-text-size);
    font-weight: var(--button-font-weight);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25), 10px 10px 10px;;
    cursor: pointer;
}

.search {
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    height: 100%;
    width: 485px;
}

.search .input img {
    position: relative;
    width: 64px;
    top: -74px;
    float: right;
    margin-right: 20px;
    cursor: pointer;
}

.input {
    width: 100%;
    height: 87px;
    border: 1px solid var(--background-color);
    border-bottom: 2px solid var(--primary-color);
    background-color: var(--background-color);
}

.input label {
    display: block;
    font-size: small;
    width: calc(100% - 30px);
    margin: 5px 10px 5px 10px;
    font-size: var(--text-menu-size);
}

.input input {
    border: none;
    display: block;
    height: 46px;
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--background-color);
    font-size: var(--text-size);
    font-family: var(--font-family);
    color: var(--on-background-color);
}

.input input:focus-visible {
    outline: none;
}

.content {
    margin: auto;
    height: calc(100% - 150px);
    width: calc(100% - 400px);
}

.table-container {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px;
}

.table-container {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
    box-shadow: 0 0 0px rgba(0, 0, 0, .18), 0 0px 10px rgba(0, 0, 0, .36);
}

.table {
    font-size: var(--text-titulo-4);
}

.table-header {
    border-radius: 10px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

.table-header {
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
}

.table-row {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;
    border-bottom: 1px solid rgba(0,0,0,0.3);;
    border-radius: 0px;
}

.table-column {
    width: 33%;
    text-align: center;
    color: var(--on-primary-color);
}

.table-cell {
    width: 33%;
    text-align: center;
}