.login-form {
    margin: auto;
    height: 100%;
    min-width: 150px;
    max-width: 485px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 234px;
    margin-bottom: 30px;
}

.input {
    width: 100%;
    height: 87px;
    border: 1px solid var(--background-color);
    border-bottom: 2px solid var(--primary-color);
    margin-bottom: 30px;
    background-color: var(--background-color);
}

.input label {
    display: block;
    font-size: small;
    width: calc(100% - 30px);
    margin: 5px 10px 5px 10px;
    font-size: var(--text-menu-size);
}

.input input {
    border: none;
    display: block;
    height: 46px;
    width: calc(100% - 30px);
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--background-color);
    font-size: var(--text-size);
    font-family: var(--font-family);
    color: var(--on-background-color);
}

.input input:focus-visible {
    outline: none;
}

button {
    width: 234px;
    height: 49px;
    color: var(--on-primary-color);
    background-color: var(--primary-color);
    border: 1px var(--primary-color) solid;
    border-radius: 10px;
    font-size: var(--button-text-size);
    font-weight: var(--button-font-weight);
    box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.25), 10px 10px 10px;;
    cursor: pointer;
}

