<div class="top-bar">
    <h1>Medicine Smart Alarms</h1>
    <div class="user">
        <div class="user-menu">
            <span class="user-name">SALEM001</span>
            <button mat-raised-button routerLink="/login">LOG OUT</button>
        </div>
        <div class="user-image">
            <img src="/assets/user.png" alt="">
        </div>
    </div>
</div>
<div class="menu-content">
    <div class="option" routerLink="/users">
        <span>Usuarios</span>
    </div>
    <div class="option" routerLink="/medicines">
        <span>Medicamentos</span>
    </div>
</div>