:root {
    /*Paleta de colores*/
    --primary-color:#006874;
    --on-primary-color: #FFFFFF;
    --secondary-color: #4A6267;
    --on-secondary-color:#FFFFFF;
    --tertiary-color:#525E7D;
    --on-tertiary-color: #FFFFFF;
    --error-color:#BA1A1A;
    --error-container: #FFDAD6;
    --background-color: #F5FAFB;
    --on-background-color:#171D1E;

    /*Tipografia*/
    --font-family: 'Open Sans';
 
    --text-titulo-1: 45px;
    --text-titulo-4: 32px;
    --text-top: 22px;
    --text-size: 18px;
    --text-menu-size: 16px;

    --button-text-size: 24px;
    --button-font-weight: bold;
}

html, body { 
    height: 100%; 
}
body { 
    margin: 0; 
    font-family: var(--font-family); 
    color: var(--on-background-color);
}

